@use 'variables' as fibVars;
@use 'functions' as fibFuncs;

// Social Links.
.cmp__social-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: fibVars.$heading-font-family;
  font-size: fibVars.$xs-size;
  color: fibVars.$gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: fibVars.$md-size;
  padding-bottom: fibVars.$md-size;
  margin: 0 auto;

  a {
    display: flex;
    align-items: center;
    border-bottom: none;
    margin-bottom: fibVars.$xs-size;

    &:hover {
      cmp-icon {
        transform: scale(1.5);
      }
    }

    cmp-icon {
      margin-right: fibFuncs.font_size(-10);
      transition: transform fibVars.$fast-speed;
    }

    .cmp__social-text {
      line-height: fibVars.$xs-line-height;
    }
  }

  .separator {
    display: none;
    margin: 0 fibFuncs.font_size(-7);
  }
}

// Project card.
.cmp__project-card {
  .cmp__card-header {
    height: 240px;
  }

  .cmp__card-footer {
    .cmp__card-actions {
      button:first-child {
        justify-content: flex-start;
      }

      button:last-child {
        justify-content: flex-end;
      }
    }
  }
}

@media only screen and (min-width: fibVars.$mobile) {
  .cmp__social-widget {
    flex-direction: row;
    border-top: solid 1px fibVars.$dim-gray;
    border-bottom: solid 1px fibVars.$dim-gray;

    a {
      margin-bottom: 0;
    }

    .separator {
      display: block;
    }
  }
}