// Social Links.
.cmp__social-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $heading-font-family;
  font-size: $xs-size;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: $md-size;
  padding-bottom: $md-size;
  margin: 0 auto;

  a {
    display: flex;
    align-items: center;
    border-bottom: none;
    margin-bottom: $xs-size;

    .cmp__icon {
      margin-right: 0.382rem;
    }

    .cmp__social-text {
      line-height: $xs-line-height;
    }
  }

  .separator {
    display: none;
    margin: 0 0.510rem;
  }
}

@media only screen and (min-width: $mobile) {
  .cmp__social-widget {
    flex-direction: row;
    border-top: solid 1px $dim-gray;
    border-bottom: solid 1px $dim-gray;

    a {
      margin-bottom: 0;
    }

    .separator {
      display: block;
    }
  }
}