// Mixins.
@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

// Page Header.
.cmp__blog-header {
  display: flex;
  align-items: center;
  padding: 0 $md-size;
  color: $light-gray;
  height: $header-height;
}

// Page Footer Component.
.cmp__blog-footer {
  display: flex;
  align-items: center;
  padding: 0 $md-size;
  color: $light-gray;
  font-family: $footer-font-family;
  font-size: $footer-font-size;
  letter-spacing: $large-letter-spacing;
  height: $footer-height;
  justify-content: flex-end;
  text-transform: uppercase;
}

// Blog Info.
.cmp__blog-info {
  display: flex;
  align-items: center;
  padding-top: 0.26rem;

  // Logo Component
  a.cmp__blog-logo {
    display: flex;
    align-items: center;
    border-bottom: none;

    &:hover {
      .cmp__blog-name {
        letter-spacing: $extra-large-letter-spacing;
      }
    }

    // Logo Image.
    .cmp__blog-logo-pic {
      animation: rotation $logo-rotate-speed linear infinite;
    }

    // Logo Name.
    .cmp__blog-name {
      font-family: $logo-font-family;
      font-size: $logo-font-size;
      transition: all $medium-speed;
      margin-left: 0.26rem;
      letter-spacing: $large-letter-spacing;
      width: $logo-name-width;
    }
  }

  // Separator.
  .cmp__separator {
    margin: 0 $sm-size;
    border-right: solid 1px;
    height: 1.618rem;
  }

  // Tag Line.
  .cmp__blog-tag-line {
    font-size: $xs-size;
    position: relative;
    top: 3px;
  }
}

// Page Navigation Component
.cmp__blog-nav {
  margin-left: auto;
  font-family: $nav-font-family;
  display: flex;
  align-items: center;
  height: 100%;

  // Nav List.
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;

    // Nav List Item.
    li {
      padding: 0 $nav-link-spacing;
      height: 100%;

      &:before {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }

      // Active State.
      &.cmp__nav-active {
        border-top: solid $nav-active-border-width $brand-color;
      }

      // Nav Link.
      a {
        line-height: $xs-line-height;
        font-size: $nav-font-size;
        border-bottom: none;
        letter-spacing: $large-letter-spacing;
        display: flex;
        align-items: center;
        height: 100%;

        .cmp__nav-link-icon {
          margin-right: $nav-link-icon-spacing;
        }
      }

      @media only screen and (min-width: $mobile) {
        a {
          font-size: $xs-size;
        }
      }

      // Search form.
      .cmp__search-form {
        display: flex;
        align-items: center;
        height: 100%;

        input {
          border: none;
          border-bottom: solid 1px $light-gray;
          line-height: $xs-line-height;
          color: $light-gray;
          padding: 0 0 0.260rem;
          display: none;
        }

        @media only screen and (min-width: $breakpoint2) {
          input {
            display: block;
          }
        }
      }
    }
  }

  &.search-active {
    flex-grow: 1;
    margin-left: $md-size;

    .search-form {
      input {
        display: block;
      }
    }

    ul li:not(:first-child) {
      display: none;
    }

    ul li:first-child {
      width: 100%;
    }
  }
}

// Page Main Content Container.
.cmp__blog-main {
  margin-top: $page-content-top;

  // Page Content.
  .cmp__blog-content {
    margin-bottom: $xl-size;

    // Article.
    .cmp__article, &.cmp__article {

      // Article Header.
      .cmp__article-header {

        // Article Meta Info.
        .cmp__article-meta {
          position: relative;
          font-size: $article-meta-font-size;
          font-family: $article-meta-font-family;
          color: $article-meta-color;

          ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline;
          }

          a {
            border-bottom: none;
          }

          > div {
            margin-bottom: 5px;
            margin-right: 0;
            display: flex;
            align-items: center;

            .cmp__icon {
              margin-right: 0.26rem;
            }
          }

          // Author Info.
          .cmp__article-author {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            // Author Photo.
            .cmp__article-author-pic {
              border-radius: 50%;
              opacity: $article-author-pic-opacity;
              width: $author-pic-default-width;
            }

            span {
              margin-left: 0.26rem;

              &.cmp__article-author-role {
                margin-top: 0;
                text-transform: uppercase;
                letter-spacing: $medium-letter-spacing;
                background-color: $article-author-role-font-color;
                padding: 1px 5px;
                font-size: $article-author-role-font-size;
                border-radius: $border-radius;
              }
            }
          }

          @media only screen and (min-width: $desktop) {
            .cmp__article-author {
              position: absolute;
              top: -3.847rem;
              left: $article-author-left-offset;
              flex-direction: column;

              .cmp__article-author-pic {
                width: $author-pic-large-screen-width;
              }

              span {
                margin-top: 0.26rem;
                margin-left: 0;
              }
            }
          }

          // Posted Date.
          .cmp__article-date {
            span {
              font-variant: small-caps;
            }
          }

          // Tags.
          .cmp__article-tags {
            font-style: italic;

            li {
              margin-right: 0.125rem;

              &:before {
                display: none;
              }
            }
          }
        }

        // Article Meta Info for Tablet size and more.
        @media only screen and (min-width: $tablet) {
          .cmp__article-meta {
            display: flex;

            > div {
              margin-bottom: 0;
            }

            > div:not(:last-child) {
              margin-right: $md-size;
            }

            .cmp__article-author {
              align-items: center;
            }
          }
        }
      }

      // Article Content.
      .cmp__article-content {

        // Links.
        a:link,
        a:visited,
        a:hover,
        a:focus,
        a:active {
          color: $link-color;
          border-bottom: none;
          text-decoration: none;
          transition: all $medium-speed;
        }

        a:hover {
          color: $link-hover-color;
        }

        figure {
          img {
            border-radius: $border-radius;
          }
        }

        // Article Main Poster Image.
        .cmp__article-poster {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0.26rem;
        }

        // Full width figure.
        .cmp__figure-full {
          max-width: 100%;
          @include horizontal-center;

          img {
            border-radius: 0;
          }
        }

        // Article element.
        .cmp__page-element {
          margin-top: $md-size;
          margin-bottom: $lg-size;
        }

        // Lead Para styles.
        > p:first-of-type {
          font-size: $lead-para-font-size;
        }
      }

      // Article Footer.
      .cmp__article-footer {
        display: flex;
        justify-content: flex-end;

        // Contine reading link.
        .cmp__article-continue-reading {
          text-align: right;
          font-size: $continue-reading-font-size;
          color: $continue-reading-color;
          font-family: $continue-reading-font-family;
          text-transform: uppercase;
          letter-spacing: $medium-letter-spacing;

          &:hover {
            color: $brand-color;
          }
        }
      }
    }
  }
}

// Utility classes.
// In small screens, make the content fluid and fixed in large.
.cmp__layout-switch {
  > * {
    margin-left: $lg-size;
    margin-right: $lg-size;
  }

  @media only screen and (min-width: $breakpoint1) {
    > * {
      max-width: $container-width;
      @include horizontal-center;
    }
  }
}

// Makes the first big and stand out.
.cmp__drop-cap:first-letter {
  font-size: $drop-cap-font-size;
  font-weight: bold;
  line-height: $xs-line-height;
  float: left;
  padding: 0.510rem $xs-size;
  margin-right: 0.382rem;
  background-color: $drop-cap-bg-color;
  color: $drop-cap-color;
  border-radius: $border-radius;
}

// Animations.
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}