.cmp__contact-form {
  .cmp__bottom-row {
    display: flex;

    p {
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin: 0;
      font-size: $small-font-size;
      color: $gray;
      align-self: flex-start;
      line-height: 1;
      margin-right: $md-size;

      .cmp__icon {
        display: none;
        margin-right: 0.236rem;
      }

      @media only screen and (min-width: $mobile) {
        .cmp__icon {
          display: block;
        }
      }
    }

    input[type="submit"] {
      margin-left: auto;
      display: block;
    }
  }
}