main {
  &.post-detail {
    .post-meta {
      position: relative;
      top: -3rem;
    }

    hr {
      max-width: $container-width;
      margin-left: auto;
      margin-right: auto;
    }

    .related-posts {
      max-width: $container-width;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $xl-size;

      h3 {
        margin-left: 0.5rem;
      }

      ul {
        list-style: none;
        margin-top: 1.5rem;

        li {
          margin-left: 0.5rem;
          margin-bottom: 0.5rem;
          padding: 0;

          h4 {
            margin-top: 0;
            font-weight: normal;

            &:before {
              content: '→';
              display: inline;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    .comments {
      max-width: $container-width;
      margin-left: auto;
      margin-right: auto;

      form {
        .user {
          margin-right: 0.5rem;

          img {
            border-radius: 50%;
          }
        }

        .new-comment {
          display: flex;

          .form-control {
            flex: 1;

            textarea {
              min-height: 75px;
            }
          }
        }
      }
    }
  }
}