article {
  > header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 4.25rem;
      position: relative;
      top: -2rem;
      margin: 0 2rem;
      max-width: 70rem;
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .author-meta {
      text-align: center;
      font-size: $medium-font-size;
      color: $medium-gray;
      display: flex;
      flex-direction: column;

      img {
        border-radius: 50%;
        margin-bottom: 0.25rem;
      }
    }

    .post-meta {
      display: flex;
      color: $medium-gray;
      font-size: $medium-font-size;
      margin-top: 2rem;

      > div {
        flex-grow: 1;
        margin-right: 2rem;
      }

      .tags {
        display: flex;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;

          li {
            margin-left: 0.25rem;
          }
        }
      }
    }
  }

  > main {
    margin: 4rem auto 0 auto;

    h1, h2, h3, h4, h5, h6, p {
      max-width: 35rem;
      margin-left: auto;
      margin-right: auto;
    }

    p:first-of-type {
      color: rgba(51, 51, 51, 0.8);
      padding: 2rem 0;
      border-top: dashed 4px $light-gray;
      border-bottom: dashed 4px $light-gray;
      margin-bottom: 4rem;
      font-size: 1.1rem;
    }
  }
}