header a, footer {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(51, 51, 51, 0.5);
}

article .title {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article .title h1 {
  font-size: 102px;
  position: relative;
  top: -4rem;
  margin: 0 2rem;
  max-width: 70rem;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

article .title .author-meta {
  text-align: center;
  font-size: 17px;
  color: rgba(51, 51, 51, 0.8);
  display: flex;
  flex-direction: column;
}

.author-meta img {
  border-radius: 50%;
}

article .title .author-meta div:first-of-type {
  font-style: italic;
  margin-bottom: 1rem;
}

article .title .post-meta {
  display: flex;
  color: rgba(51, 51, 51, 0.8);
  font-size: 0.5rem;
  margin-top: 2rem;
  width: 40rem;
}

article .title .post-meta > div {
  flex-grow: 1;
}

article .title .post-meta .tags {
  display: flex;
}

article .title .post-meta .tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

article .title .post-meta .tags ul li {
  margin-left: 0.25rem;
}

article .content {
  max-width: 35rem;
  margin: 4rem auto 0 auto;
}

article .content p:first-of-type {
  font-style: italic;
  color: rgba(51, 51, 51, 0.8);
}

footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
}