// Make the page take minimum viewport height.
html, body {
  min-height: 100vh;
}

.cmp__blog {
  transition: filter $fast-speed;

  &.cmp__site-loading {
    filter: blur(5px);
  }
}

.cmp__site-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

// Page Header.
.cmp__blog-header {
  @include flex-ver-center;

  height: $header-height;
  padding: 0 $md-size;

  color: $gray;
  background-color: $dim-gray;
  box-shadow: 0 1px 4px 0 $light-gray;
}

// Blog Info.
.cmp__blog-info {
  @include flex-ver-center;
  flex-direction: column;

  // Logo Component.
  a.cmp__blog-logo {
    @include flex-ver-center;
    border-bottom: none;

    &:hover {
      .cmp__blog-name {
        letter-spacing: $extra-large-letter-spacing;
      }
    }

    // Logo Name.
    .cmp__blog-name {
      position: relative;
      width: $logo-name-width;
      margin-left: 0.26rem;
      top: -5px;

      font-family: $logo-font-family;
      font-size: $logo-font-size;
      line-height: $xs-line-height;
      letter-spacing: $large-letter-spacing;

      transition: all $medium-speed;
    }
  }

  // Separator.
  .cmp__separator {
    display: none;
    margin: 0 $sm-size;
    height: 1.618rem;
    border-right: solid 1px;
  }

  // Tag Line.
  .cmp__blog-tag-line {
    position: absolute;
    top: 1.781rem;
    left: 3.494rem;
    font-size: 0.618rem;
  }
}

// Page Navigation Component.
.cmp__blog-nav {
  @include flex-ver-center;
  flex-grow: 1;
  justify-content: flex-end;
  height: 100%;
  margin-left: var(--lg-size);

  font-family: $nav-font-family;

  // Nav List.
  ul {
    height: 100%;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;

    // Nav List Item.
    li {
      height: 100%;
      position: relative;

      &:before {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }

      // Active State.
      &.cmp__nav-active {
        a::before {
          content: '';

          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;

          border-top: solid $nav-active-border-width $brand-color;
        }
      }

      &:not(.cmp__hamburger-link) {
        display: none;
      }

      &.cmp__hamburger-link {
        padding: 0;

        .cmp__nav-link {
          position: relative;

          .cmp__hidden-menu {
            position: absolute;
            cursor: pointer;
            width: $lg-size;
            height: $lg-size;
            opacity: 0;
          }
        }
      }

      // Nav Link.
      a {
        position: relative;
        z-index: 1;
        @include flex-ver-center;
        height: 100%;
        padding: 0 $nav-link-spacing;

        font-size: $nav-font-size;
        line-height: $xs-line-height;
        letter-spacing: $large-letter-spacing;

        border-bottom: none;
        transition: all $medium-speed;

        &:hover {
          background-color: $brand-color;
          color: $white;
        }

        cmp-icon {
          margin-right: $nav-link-icon-spacing;
        }

        .cmp__nav-link-text {
          display: none;
          line-height: $xs-line-height;
        }
      }

      // Search form.
      .cmp__search-form {
        @include flex-ver-center;
        height: 100%;

        input {
          display: none;
          padding: 0 0 0.260rem;

          font-size: $small-font-size;
          line-height: $xs-line-height;

          border: none;
          border-bottom: solid 1px $gray;
          color: $gray;
          background-color: $dim-gray;

          &:focus, &:active {
            outline: none;
            border-color: $brand-color;
          }
        }
      }
    }
  }

  // When the search is active show the search textbox.
  &.cmp__search-active {
    .cmp__search-link {
      display: flex;

      .cmp__search-form {
        input {
          display: block;
        }
      }
    }

    ul li:not(:first-child) {
      display: none;
    }

    ul li:first-child {
      width: 100%;
    }
  }
}

// Page Main Content Container.
.cmp__blog-main {
  flex: 1 1 auto;
  padding-top: $page-content-top;
  padding-bottom: $page-content-bottom;
  background: url("assets/background.png");

  // Page Content.
  .cmp__blog-content {
    margin-bottom: $xl-size;

    // Article.
    .cmp__article, &.cmp__article {

      // Article Header.
      .cmp__article-header {

        // Article Meta Info.
        .cmp__article-meta {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          font-size: $article-meta-font-size;
          font-family: $article-meta-font-family;
          color: $article-meta-color;

          ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline;
          }

          a {
            border-bottom: none;
          }

          > * {
            @include flex-ver-center;
            margin-bottom: 5px;
            margin-right: 0;

            cmp-icon {
              margin-right: 0.26rem;
            }
          }

          // Author Info.
          .cmp__article-author {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            // Author Photo.
            .cmp__article-author-pic {
              border-radius: 50%;
              opacity: $article-author-pic-opacity;
              width: $author-pic-default-width;
            }

            span {
              margin-left: 0.26rem;

              &.cmp__article-author-role {
                margin-top: 0;
                padding: 1px 5px;

                font-size: $article-author-role-font-size;
                text-transform: uppercase;
                letter-spacing: $medium-letter-spacing;

                color: $white;
                background-color: $yellow-green;
                border-radius: $border-radius;
              }
            }

            &:hover {
              color: $article-meta-color;;
            }
          }

          // Posted Date.
          .cmp__article-date {
            span {
              font-variant: small-caps;
            }
          }

          // Share controls.
          .cmp__article-share {
            > div {
              display: flex;
              align-items: center;
            }
          }

          // Tags.
          .cmp__article-tags {
            font-style: italic;

            li {
              margin-right: 0.125rem;

              &:before {
                display: none;
              }
            }
          }
        }
      }

      // Article Content.
      .cmp__article-content {

        // Links.
        a:link,
        a:visited,
        a:hover,
        a:focus,
        a:active {
          border-bottom: none;
          text-decoration: none;
          transition: all $medium-speed;
        }

        a:link {
          color: $link-color;
        }

        a:visited,
        a:hover,
        a:focus,
        a:active {
          color: $link-hover-color;
        }

        // Figure element.
        figure {
          // Full width.
          &.cmp__figure-full {
            max-width: 100%;
            @include horizontal-center;

            figcaption, caption {
              margin-left: $lg-size;
              margin-right: $lg-size;
            }

            img, .cmp__table-wrapper, cmp-image {
              border-radius: 0;
            }
          }
        }

        // Table of contents.
        .cmp__toc {
          color: $gray;

          ol li a {
            color: inherit;
            transition: color $medium-speed;

            &:hover {
              color: $brand-color;
            }
          }
        }

        // Lead Para styles.
        > p:first-of-type {
          font-size: $lead-para-font-size;
          margin-top: $md-size;
        }

        // Article Main Poster Image.
        .cmp__article-poster {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0.26rem;
        }

        // Article element.
        .cmp__page-element {
          margin-top: $md-size;
          margin-bottom: $lg-size;
        }
      }

      // Article Footer.
      .cmp__article-footer {
        display: flex;
        justify-content: flex-end;

        // Contine reading link.
        .cmp__article-continue-reading {
          display: inline-flex;
          align-items: center;
          text-align: right;

          font-family: $continue-reading-font-family;
          font-size: $continue-reading-font-size;
          letter-spacing: $medium-letter-spacing;
          text-transform: uppercase;

          color: $continue-reading-color;

          &:after {
            position: relative;
            content: '→';
            margin-left: 0.146rem;
          }

          &:hover {
            color: $brand-color;
          }

          &:hover:after {
            animation: arrow-move-right $medium-speed linear infinite;
          }
        }
      }
    }
  }
}

// Table of contents.
.cmp__toc {
  padding: $medium-padding;
  margin-bottom: $xl-size;

  background-color: $dim-gray;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  h5 {
    padding-bottom: $xs-size;
    margin-bottom: $sm-size;
    text-align: center;

    letter-spacing: $small-letter-spacing;
    text-transform: uppercase;

    color: $brand-color;
    border-bottom: solid 1px $light-gray;
  }

  ol {
    padding-left: $md-size;

    font-size: $sm-size;
    letter-spacing: $medium-letter-spacing;
    text-transform: uppercase;

    a {
      color: $gray;

      &:hover {
        color: $brand-color;
      }
    }

    ol {
      font-size: $xs-size;
    }
  }
}

// Share Button
button.cmp__share-it-btn {
  padding: 0.146rem;
  margin-left: 0.315rem;
  font-size: 0.618rem;
  background-color: transparent;
  color: $article-meta-color;

  &:focus, &:active, &:hover {
    background-color: transparent;
    color: $brand-color;
  }
}

// In small screens, make the content fluid and fixed in large.
.cmp__auto-layout {
  > * {
    margin-left: $lg-size;
    margin-right: $lg-size;
  }
}

.cmp__responsive {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;

  figcaption, caption {
    margin-left: $lg-size;
    margin-right: $lg-size;
  }

  img, .cmp__table-wrapper, .cmp__widget {
    border-radius: 0;
  }
}

// Makes the first big and stand out.
.cmp__drop-cap:first-letter {
  float: left;

  padding: 0.510rem;
  margin-top: 0.382rem;
  margin-right: 0.382rem;

  font-size: $drop-cap-font-size;
  font-weight: bold;
  line-height: $xs-line-height;

  background-color: $drop-cap-bg-color;
  color: $drop-cap-color;
  border-radius: $border-radius;
}

// Page navigation.
.cmp__pagination {
  @include flex-ver-center;
  margin-top: $lg-size;

  font-family: $heading-font-family;
  font-size: $small-font-size;
  text-transform: uppercase;
  letter-spacing: $medium-letter-spacing;

  color: $gray;

  > * {
    flex-grow: 1;

    a {
      display: inline-flex;
      align-items: center;
    }
  }

  .cmp__older-posts {
    a {
      &:before {
        position: relative;
        content: '≪';
        margin-right: 0.146rem;
      }

      &:hover:before {
        animation: arrow-move-left $medium-speed linear infinite;
      }
    }
  }

  .cmp__newer-posts {
    text-align: right;

    a {
      &:after {
        position: relative;
        content: '≫';
        margin-left: 0.146rem;
      }

      &:hover:after {
        animation: arrow-move-right $medium-speed linear infinite;
      }
    }
  }
}

// Page Footer Component.
.cmp__blog-footer {
  position: relative;
  height: $footer-height;
  display: flex;
  flex-direction: column;
  padding: $xs-size $md-size;

  font-family: $footer-font-family;
  letter-spacing: $large-letter-spacing;
  text-transform: uppercase;

  color: $gray;
  background-color: $dim-gray;

  // https://www.youtube.com/watch?v=CGdEUmO4ZQQ
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background: linear-gradient(-135deg, $white, 6px, transparent 0%), linear-gradient(135deg, $white, 6px, transparent 0%);
    background-size: 12px;
  }

  &::after {
    content: '';
  }

  section {
    &.cmp__footer-left {
      display: flex;
      flex-direction: row;
      font-size: $footer-credits-font-size;

      > div {
        flex-grow: 1;

        &:last-child {
          margin-left: 0.260rem;
          text-align: right;
        }
      }
    }

    &.cmp__footer-right {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $sm-size;
      font-size: $footer-font-size;
    }
  }
}

// Useless color dots.
cmp-color-dots {
  position: fixed;
  left: 5px;
  bottom: 5px;
}

// Animations.
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

// Media Queries.
@media only screen and (min-width: $mobile) {

  // Navigation.
  .cmp__blog-nav {
    ul {
      li {
        &:not(.cmp__hamburger-link) {
          display: flex;
        }

        &.cmp__hamburger-link {
          display: none;
        }

        a {
          font-size: $xs-size;
        }
      }
    }
  }

  // Responsive Article Content.
  .cmp__responsive {
    margin-left: $lg-size;
    margin-right: $lg-size;
    border-radius: $border-radius;

    figcaption, caption {
      margin-left: 0;
      margin-right: 0;
    }

    img, .cmp__table-wrapper, .cmp__widget {
      border-radius: $border-radius;
    }
  }
}

@media only screen and (min-width: $tablet) {

  // Blog Logo, tag and other stuff.
  .cmp__blog-info {
    flex-direction: row;

    a.cmp__blog-logo {
      .cmp__blog-name {
        position: static;
      }
    }

    .cmp__separator {
      display: block;
    }

    .cmp__blog-tag-line {
      font-size: $xs-size;
      position: relative;
      left: 0;
      top: 3px;
    }
  }

  // Navigation.
  .cmp__blog-nav {
    ul li .cmp__search-form input {
      display: block;
    }
  }

  // Article Meta Changes.
  .cmp__blog-main {
    .cmp__blog-content {
      .cmp__article, &.cmp__article {
        .cmp__article-header {
          .cmp__article-meta {
            flex-direction: row;

            > * {
              min-height: 30px;
              margin-bottom: 0;
            }

            > *:not(:first-child):not(:last-child):after {
              content: '|';
              margin-left: $xs-size;
              margin-right: $xs-size;
              color: $light-gray;
            }

            .cmp__article-author {
              align-items: center;

              &:after {
                content: '|';
                color: $light-gray;
                margin-left: $xs-size;
                margin-right: $xs-size;
              }
            }
          }
        }
      }
    }
  }

  // Responsive Article Content.
  .cmp__auto-layout > *, .cmp__responsive {
    margin-left: $xl-size;
    margin-right: $xl-size;
  }

  .cmp__responsive-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex-grow: 1;
      width: 47%;
      max-width: 47%;
    }
  }

  // Footer.
  .cmp__blog-footer {
    flex-direction: row;

    > section {
      flex-grow: 1;
    }

    section {
      &.cmp__footer-left {
        flex-direction: column;

        > div {
          flex-grow: unset;

          &:last-child {
            margin-left: 0;
            text-align: left;
          }
        }
      }

      &.cmp__footer-right {
        justify-content: flex-end;
        margin-top: 0;
        font-size: $footer-font-size;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint1) {

  // Responsive Article Content.
  .cmp__auto-layout > *, .cmp__responsive {
    max-width: $container-width;
    @include horizontal-center;
  }
}

@media only screen and (min-width: $desktop) {

  // Navigation.
  .cmp__blog-nav {
    ul {
      li {
        a {
          .cmp__nav-link-text {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint2) {

  // Article Meta.
  .cmp__blog-main {
    .cmp__blog-content {
      .cmp__article, &.cmp__article {
        .cmp__article-header {
          .cmp__article-meta {
            .cmp__article-author {
              position: absolute;
              top: -2.160rem;
              left: $article-author-left-offset;
              flex-direction: column;

              &:after {
                content: '';
                margin: 0;
              }

              .cmp__article-author-pic {
                width: $author-pic-large-screen-width;
              }

              span {
                margin-top: 0.26rem;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

// Animations.
@keyframes arrow-move-left {
  0% {
    left: 0;
  }
  50% {
    left: -3px;
  }
  100% {
    left: 0;
  }
}

@keyframes arrow-move-right {
  0% {
    right: 0;
  }
  50% {
    right: -3px;
  }
  100% {
    right: 0;
  }
}