// Font families.
$body-font-family:                  'Source Serif Pro', serif !default;
$heading-font-family:               'Source Sans Pro', sans-serif !default;
$mono-font-family:                  'Source Code Pro', monospace !default;

// Sizes.
$base-size:                         var(--base-size) !default;
$xs-size:                           var(--xs-size) !default;
$sm-size:                           var(--sm-size) !default;
$md-size:                           var(--md-size) !default;
$lg-size:                           var(--lg-size) !default;
$xl-size:                           var(--xl-size) !default;
$xxl-size:                          var(--xxl-size) !default;
$xxxl-size:                         var(--xxxl-size) !default;
$base-font-size:                    $md-size !default;
$h1-font-size:                      $xxl-size !default;
$h2-font-size:                      $xl-size !default;
$h3-font-size:                      $lg-size !default;
$h4-font-size:                      $base-font-size !default;
$medium-font-size:                  $sm-size !default;
$small-font-size:                   $xs-size !default;
$lead-para-font-size:               1.2rem !default;
$breakpoint1:                       480px;
$breakpoint2:                       768px;
$breakpoint3:                       1100px;
$breakpoint4:                       836px;
$breakpoint5:                       560px;

// Line Heights.
$base-line-height:                  1.5 !default;
$heading-line-height:               0.85 !default;
$table-line-height:                 1.4 !default;
$code-line-height:                  1.2 !default;

$heading-spacing:                   -0.5px !default;

// Colors.
$body-color:                        rgb(51, 51, 51) !default;
$heading-color:                     inherit !default;
$dim-gray:                          #f7f7f7 !default;
$light-gray:                        rgba(51, 51, 51, 0.5) !default;
$medium-gray:                       rgba(51, 51, 51, 0.8) !default;
$highlight-color:                   rgb(241, 247, 234) !default;
$border-color:                      rgb(135, 146, 163) !default;
$white:                             rgb(255, 255, 255) !default;
$black:                             rgb(0, 0, 0) !default;

// Containers.
$container-width:                   42rem !default;
$inner-padding:                     $sm-size $lg-size !default;
$input-padding:                     0.35rem 0.5rem !default;
$button-padding:                    0.5rem 0.75rem !default;

// Borders.
$border-radius:                     3px !default;
