@use '../base/variables' as fibVars;
@use '../base/funcs' as fibFuncs;
@use '../base/mixins' as fibMixins;
@use 'variables' as fibSiteVars;

.cmp__ribbon {
  --cmp-ribbon-height: #{fibSiteVars.$ribbon-small-screen-height};
  --cmp-ribbon-bend-height: calc(var(--cmp-ribbon-height) / 3.75);
  display: inline-block;
  position: relative;
  height: var(--cmp-ribbon-height);
  line-height: var(--cmp-ribbon-height);
  padding: 0 fibVars.$xl-size;

  @include fibMixins.set_text_font($family: fibVars.$heading-font-family, $font_size: fibFuncs.size(-4));
  text-align: center;

  background: fibSiteVars.$ribbon-bg;
  color: fibSiteVars.$ribbon-color;
  box-shadow: fibSiteVars.$ribbon-shadow;

  &::before, &::after {
    content: "";
    position: absolute;
    border: solid calc(var(--cmp-ribbon-height) / 2) darken(fibSiteVars.$ribbon-bg, 10%);
    z-index: -1;
    bottom: calc(-1 * var(--cmp-ribbon-bend-height));
  }

  &::before {
    left: calc(-1 * calc(var(--cmp-ribbon-height) - var(--cmp-ribbon-bend-height)));
    border-left-color: transparent;
  }

  &::after {
    right: calc(-1 * calc(var(--cmp-ribbon-height) - var(--cmp-ribbon-bend-height)));
    border-right-color: transparent;
  }

  .cmp__ribbon-content {
    text-shadow: 0 0 2px darken(fibSiteVars.$ribbon-bg, 25%);

    &::before, &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: calc(-1 * var(--cmp-ribbon-bend-height));
      border: {
        style: solid;
        color: darken(fibSiteVars.$ribbon-bg, 25%) transparent transparent transparent;
      }
    }

    &::before {
      left: 0;
      border-width: var(--cmp-ribbon-bend-height) 0 0 var(--cmp-ribbon-bend-height);
    }

    &::after {
      right: 0;
      border-width: var(--cmp-ribbon-bend-height) var(--cmp-ribbon-bend-height) 0 0;
    }
  }
}

.cmp__ribbon-container {
  @include fibMixins.flex_init($center: true);
  position: relative;
  z-index: 1;
  margin: {
    top: 1rem;
    bottom: fibFuncs.size(10);
  };
}