@use '../../base/variables' as fibVars;
@use '../../base/funcs' as fibFuncs;
@use '../../base/mixins' as fibMixins;

#cmp__contact {

  .cmp__contact-form-container {
    margin-top: fibVars.$xxl-size;

    .cmp__contact-form {
      .cmp__bottom-row {
        @include fibMixins.flex_init();

        p {
          @include fibMixins.flex_init($ver: true);

          align-self: flex-start;
          flex-grow: 1;

          font-size: fibVars.$small-font-size;
          color: fibVars.$gray;
          line-height: fibVars.$xs-line-height;
          margin-right: fibVars.$md-size;

          cmp-icon {
            display: block;
            margin-right: fibFuncs.size(-15);
          }
        }

        button {
          margin-left: auto;

          &:hover {
            cmp-icon {
              animation: anim__arrow-move-up-right fibVars.$medium-speed linear infinite;
            }
          }

          cmp-icon {
            position: relative;
          }
        }
      }
    }
  }
}

@keyframes anim__arrow-move-up-right {
  0% {
    top: 0;
    right: 0;
  }
  50% {
    top: -3px;
    right: -3px;
  }
  100% {
    top: 0;
    right: 0;
  }
}