@use '../../base/variables' as fibVars;
@use '../../base/funcs' as fibFuncs;
@use '../../base/mixins' as fibMixins;
@use '../variables' as fibSiteVars;

#cmp__blog-home {
  margin-top: fibFuncs.size(12);

  .cmp__home-heading {
    font-family: fibVars.$logo-font-family;
    text-align: center;

    &::after {
      display: none;
    }
  }

  .cmp__carousel {
    @include fibMixins.noisy_bg(rgb(230, 230, 230, 0.3));
    position: relative;

    padding: {
      top: fibVars.$xxl-size;
      bottom: fibVars.$xxl-size;
      left: fibFuncs.size(16);
      right: fibFuncs.size(16);
    }

    /*&::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 12px;
      background: linear-gradient(-135deg, fibVars.$white, 6px, transparent 0%), linear-gradient(135deg, fibVars.$white, 6px, transparent 0%);
      background-size: 12px;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 12px;
      background: linear-gradient(-45deg, fibVars.$white, 6px, transparent 0%), linear-gradient(45deg, fibVars.$white, 6px, transparent 0%);
      background-size: 12px;
    }*/
  }

  .cmp__responsive-flex {
    @include fibMixins.set_hor_margin(fibFuncs.size(16));
    margin-top: fibVars.$xxl-size;
  }
}