.cmp__icon-calendar-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-collection-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-comment-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-contact-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-cross-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-emoji-frown-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-emoji-smile-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-eye-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-facebook-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-github-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-hamburger-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-home-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-image-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-linkedin-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-person-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-search-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-send-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-share-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-shield-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-tag-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-tick-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-twitter-dims {
	width: 16px;
	height: 16px;
}

.cmp__icon-warning-dims {
	width: 16px;
	height: 16px;
}

